<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fkip</title>
</head>
<body>
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari</h2>
    <p>Pendidikan Nonformal
        Pendidikan Bahasa Indonesia, Pendidikan Bahasa Inggris, Pendidikan Biologi, Pendidikan Matematika, Pendidikan Guru Sekolah Dasar, Pendidikan Guru PAUD , Bimbingan dan Konseling,
        Pendidikan Fisika, Pendidikan Ilmu Pengetahuan Alam, Pendidikan Kimia, Pendidikan Khusus, Pendidikan Pancasila dan Kewarganegaraan, Pendidikan Sejarah, Pendidikan Seni dan Pertunjukan,
        Pendidikan Sosiologi, Pendidikan Vokasional Teknik Elektro dan Pendidikan Vokasional Teknik Mesin</p>
    
</body>
</html>