<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feb</title>
</head>
<head>
    <title>Navbar CSS</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="page/profiln.html">PROFIL</a></li>
            <li><a href="page/indexfp.html">FEB</a></li>
            <li><a href="page/index.html">FH</a></li>
            <li><a href="page/indexfh.html">FISIP</a></li>
            <li><a href="page/indexfisip.html">FK</a></li>
            <li><a href="page/indexfk.html">FKIP</a></li>
            <li><a href="page/indexfkip.html">FP</a></li>
            <li><a href="page/indexft.html">FT</a></li>
            <li><a href="page/pasca.html">PASCASARJANA</a></li>
        </ul>
    </nav>
</body>